* {
    margin: 0px;
    padding: 0;
}
body {
    background-color:rgb(40, 42, 48);
}
.base {
    height: 80vh;
    padding: 0px;
}
/* Header */
.webheader {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    height: 30%;
}
.descH {
    color: white;
    background-color:rgb(111, 144, 172);
    height: 100%;
    width: 100%;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.login {
    display: flex;
    justify-content: flex-end;
    height: 0px;
}
.logout {
    display: flex;
    justify-content: flex-end;
    height: 0px;
    margin-right: 110px;
}
.return {
    display: flex;
    justify-content: flex-start;
    height: 0px;
}
.btn-menu {
    background-color: rgb(62, 77, 207);
    text-align: center;
    border-radius: 5px;
    border: solid 0px;
    font: bold;
    color: white;
    font-size: 25px;
    height: 40px;
    width: 100px;
}
/* Section */
.websection {
    display: flex;
    align-items: flex-start;
}
.col {
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.descS1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:rgb(170, 186, 236);
    height: 100%;
    width: 100%;
}
.itens {
    display: flex;
    flex-direction: column;
    background-color:aliceblue;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 100%;
    width: 300px;
    padding: 10px;
    margin: 30px;
}
.description {
    border-radius: 30px;
    height: 220px;
    width: 100%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGNxnCWa45wd6aL1uyOarsDcBuhzOn9dtfAnGc3DqIh7Pfy1R1T8rTV3FFgrf3fehzMes&usqp=CAU);
    background-size: 80% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.btn-align {
    display: flex;
    justify-content: center;
}
.btn-details {
    background-color: rgb(62, 77, 207);
    text-align: center;
    border-radius: 5px;
    border: solid 0px;
    font: bold;
    color: white;
    font-size: 25px;
    width: 100%;
}

/* datails - html */
.more-datails {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 30px;
    height: 100%;
    width: 700px;
    padding: 30px;
    margin: 10px;
}
.row-align {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap-reverse;
}
.description-box {
    border-radius: 30px;
    height: 200px;
    width: 250px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGNxnCWa45wd6aL1uyOarsDcBuhzOn9dtfAnGc3DqIh7Pfy1R1T8rTV3FFgrf3fehzMes&usqp=CAU);
    background-position: center;
    background-repeat: no-repeat;
}
.counter-base {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}
.text-margin {
    padding-top: 20px;
}
#value {
    font-weight: bold;
    font-size: 25px;
}
.btn-up,.btn-down {
    border: none;
    border-radius: 4px;
    font-size: 25px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    background-color: aliceblue;
    padding: 5px;
}
.totalValue {
    display: flex;
    flex-direction: row;
}

/* login - html */
.loginsection {
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgb(213, 232, 248),rgb(152, 188, 219),rgb(213, 232, 248));
    height: 100vh;
}
.descLogin {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.login-format {
    display: flex;
    flex-direction: column;
    background-color:white;
    border-radius: 30px;
    height: 100%;
    width: 350px;
    padding: 20px;
    margin: 30px;
}
/* Footer */
.webfooter {
    display: flex;
    align-items: flex-end;
    padding: 0px;
    height: 30%;
}
.descF {
    display: flex;
    justify-content: center;
    color: rgb(140, 144, 156);
    background-color:rgb(40, 42, 48);
    height: 100%;
    width: 100%;
}
.text-align {
    display: flex;
    align-items: center;
}
a:hover {
    color: white;
    background-color: rgb(37, 37, 255);
  }